.rosinstall
.catkin_workspace
ros_wrapper/src/CMakeLists.txt
cgocv/
.vscode/
.idea/
imgs/
CImg.h
*.raw
*.bmp
*.png

cam_stereo.yml
calib.sh

cmake-build-debug/
build/
devel/
logs/
build-*/
.catkin_tools/
