# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

bin/
obj/
.vs/

.rosinstall
.catkin_workspace
ros_wrapper/src/CMakeLists.txt
camera_relates/camera_calib_rectify/ros_wrappers/src/CMakeLists.txt
.vscode/
.idea/
*.swp
imgs/
CImg.h
*.raw
*.bmp
*.png

cam_stereo.yml
calib.sh

build-CGOCV-Desktop-Default/
cmake-build-debug/
CMakeLists.txt.user
build/
devel/
logs/
build-*/
.catkin_tools/
