<?xml version="1.0"?>
<launch>
    <arg name="view" default="false"/>

    <node name="camera" pkg="usb_cam" type="usb_cam_node">
        <param name="video_device" value="/dev/video0" />
        <param name="image_width" value="640" />
        <param name="image_height" value="480" />
        <param name="pixel_format" value="yuyv" />
        <param name="framerate" value="30" />
        <param name="camera_frame_id" value="webcam" />
        <param name="io_method" value="mmap"/>
    </node>

    <node name="image_proc" ns="camera" pkg="image_proc" type="image_proc" args="">
    </node>

    <group if="$(arg view)">
        <node name="camera_view" pkg="image_view" type="image_view" respawn="false" output="screen">
            <remap from="image" to="/camera/image_raw"/>
            <param name="autosize" value="true" />
        </node>
        <node name="image_proc_view" pkg="image_view" type="image_view" respawn="false" output="screen">
            <remap from="image" to="/camera/image_mono"/>
            <param name="autosize" value="true" />
        </node>
    </group>

</launch>
