<?xml version="1.0"?>

<launch>

    <arg name="camera"    default="stereo"/>

    <arg name="scan"      default="false"/>
    <arg name="rviz"      default="false"/>
    <arg name="mm"        default="false"/>
    <arg name="ocl"       default="false"/>
    <arg name="filter_c"  default="true" />
    <arg name="colormap"  default="false"/>
    <arg name="left"      default="left" />
    <arg name="right"     default="right"/>

    <group if="$(arg rviz)">
        <arg name="rviz_cfg" default="$(find stereo_reconstruct)/launch/config/stereo_reconstruct.rviz" />
        <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_cfg)"/>
    </group>

    <node pkg="nodelet" type="nodelet" name="nodelet_manager"  args="manager" output="screen"/>

    <node pkg="nodelet" type="nodelet" name="stereo_reconstruct_pointcloud"
          args="load stereo_reconstruct/pointcloud nodelet_manager" respawn="false" output="screen">

        <remap from="left/image"        to="$(arg camera)/$(arg left)/image_rect"/>
        <remap from="left/camera_info"  to="$(arg camera)/$(arg left)/camera_info"/>

        <remap from="right/image"       to="$(arg camera)/$(arg right)/image_rect"/>
        <remap from="right/camera_info" to="$(arg camera)/$(arg right)/camera_info"/>

        <remap from="cloud"             to="$(arg camera)/stereo_recon/cloud" />
        <remap from="depth"             to="$(arg camera)/stereo_recon/depth" />

        <param name="approx_sync"       type="bool"   value="true"/>

        <param name="is_mm"             type="bool"   value="$(arg mm)"/>

        <param name="is_use_ocl"        type="bool"   value="$(arg ocl)"/>

        <param name="is_use_colormap"   type="bool"   value="$(arg colormap)"/>

        <param name="is_cloudfilter"     type="bool"   value="$(arg filter_c)"/>
        <param name="voxel_size"        type="double" value="0.02"/>
        <param name="min_depth"         type="double" value="0.0"/>
        <param name="max_depth"         type="double" value="5.0"/>

        <param name="frame_id_depth"    value="$(arg camera)_depth_optical_frame"/>
        <param name="frame_id_cloud"    value="$(arg camera)_cloud_optical_frame"/>

    </node>

    <include file="$(find stereo_reconstruct)/launch/stereo_reconstruct_tf.launch">
        <arg name="camera" value="$(arg camera)"/>
    </include>

    <group if="$(arg scan)">
        <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan" output="screen">

            <remap from="image"             to="$(arg camera)/depth_ghc/image"/>
            <remap from="camera_info"       to="$(arg camera)/depth_ghc/camera_info"/>

            <param name="scan_height"       value="5"/>
            <param name="range_max"         value="20" />
            <param name="output_frame_id"   value="$(arg camera)_laser_scan_frame"/>

        </node>

        <node pkg="tf" type="static_transform_publisher" name="left_to_laserscan"
              args="0 0 0 0 0 0 $(arg camera)_depth_frame $(arg camera)_laser_scan_frame 100" />
    </group>

</launch>
