<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <!-- Usage:
  roslaunch camera_roswrapper homography.launch -->

  <!-- Logger config -->
  <env name="ROSCONSOLE_CONFIG_FILE"
       value="$(find camera_roswrapper)/config/camera_roswrapper.config"/>

  <include file="$(find camera_roswrapper)/launch/camera.launch"/>

  <node pkg="camera_roswrapper" type="homography" name="homography"
        output="screen"/>
</launch>

